# Targets
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class

# Ever-changing files
./clojure-webscraper.iml
./*-webscraper.iml

# Lein
/.lein-*
/.nrepl-port

# Mercurial
.hgignore
.hg/

# JetBrains IntelliJ IDEA
.idea/*
.idea
